<h1> Faites grandir les petites idées </h1>
  <br>
  <ul>
   <li>Jouer aux jeux gratuitement et avec vos amis</li>
   <li>Accès à la communauté Ludotopia.</li>
   <li>Donnez votre avis sur les jeux.</li>
   <li> Soutenez les nouvelles idées avec le partage ou un don.</li>
 </ul>

 <br>

 <p Inscrivez-vous gratuitement. /p>

  <p> Nous suivre sur : </p> <a href="https://www.facebook.com/Ludotopia-258709275039675/">Facebook</a>
    <br>
  <p> Nous suivre sur : </p> <a href="https://www.instagram.com/thprennes7/?hl=fr">instagram</a>

  <div class="container">
      <div id="careers" class='large-margin'>
          <a href="careers"></a><!-- Nav Anchor -->
          <div class="row heading tiny-margin">
              <div class="col-md-auto">
                  <h1 class="animation-element slide-down">WE'RE <span class="colored">HIRING</span></h1>
              </div>
              <div class="col">
                  <hr class="animation-element extend">
              </div>
          </div>
          <div class="row medium-margin">
              <div class="col-md-11">
                  <h2 class="short-hr-left">JOB OPENINGS</h2>
                  <p>Are you a talented and motivated individual? Then we would love to have you in our team. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt, nisl non mattis sollicitudin, risus quam tempor sem, vel interdum est libero non odio.</p><br>
              </div>
              <div class="col-md-4">
                  <div class="job-card">
                      <h3 class="colored">LEAD PROGRAMMER</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <button class="button" data-toggle="modal" data-target="#modal1">View Details</button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="lead-programmer" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title colored" id="lead-programmer">LEAD PROGRAMMER</h2>

                              <div class="modal-footer">
                                  <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                                  <a href="mailto:office@example.com" class="button">Apply</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="job-card">
                      <h3 class="colored">LEVEL DESIGNER</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <button class="button" data-toggle="modal" data-target="#modal2">View Details</button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade " id="modal2" tabindex="-1" role="dialog" aria-labelledby="level-designer" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title colored" id="level-designer">LEVEL DESIGNER</h2>

                              <div class="modal-footer">
                                  <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                                  <a href="mailto:office@example.com" class="button">Apply</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="job-card">
                      <h3 class="colored">AI ENGINEER</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <button class="button" data-toggle="modal" data-target="#modal3">View Details</button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade " id="modal3" tabindex="-1" role="dialog" aria-labelledby="ai-engineer" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title colored" id="ai-engineer">AI ENGINEER</h2>
                                
                              <div class="modal-footer">
                                  <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                                  <a href="mailto:office@example.com" class="button">Apply</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
