<!-- We use the front of the theme to create a landing page in connection with the site. -->

  <div class="container" style="margin-top: 90px;">
      <div id="careers" class='large-margin'>
          <a href="careers"></a><!-- Nav Anchor -->
          <div class="row heading tiny-margin">
              <div class="col-md-auto">
                  <h1 class="animation-element slide-down">Faites grandir <span class="colored">les petites idées</span></h1>
              </div>
              <div class="col">
                  <hr class="animation-element extend">
              </div>
          </div>
          <div class="row medium-margin">
              <div class="col-md-11">
                  <h2 class="short-hr-left"> Ludotopia </h2>
                  <p> Bienvenue sur Ludotopia, tu es ici chez toi.</p><br>
              </div>
              <div class="col-md-4">
                  <div class="job-card">
                      <h3 class="colored">Jouer aux jeux gratuitement et avec vos amis</h3>
                      <p>Tester des jeux de sociétés indépendant avec vos amis !</p>
                      <button class="button" data-toggle="modal" data-target="#modal1">Voir plus de détails.</button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="lead-programmer" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title colored" id="lead-programmer">Jeux.</h2>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <h3>Tester des jeux de sociétés indépendant avec vos amis !</h3>
                                  <br>
                                  <h3> De quoi à tu besoin pour t'inscrire ? :</h3>
                                  <ul>
                                  <li><p> De la joie de vivre. </p></li>
                                  <li><p> Un peu d'esprit d'équipe. </p></li>
                                  <li><p> Beaucoup de bienveillance. </p></li>
                                  <li><p> Beaucoup de témérité. </p></li>
                                  <li><p> Une adresse mail valide.</p></li>
                                  <li><p> Ton nom et ton prénom. </p></li>
                                  <li><p> Un ordinateur.</p></li>
                                  </ul>
                                  <br>

                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="button secondary" data-dismiss="modal"> Sortir </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="job-card">
                      <h3 class="colored"> Accès à la communauté Ludotopia.</h3>
                      <p> Retrouve des passionnés et des joueurs occasionnels dans notre communauté.</p>
                      <button class="button" data-toggle="modal" data-target="#modal2"> Voir plus de détails</button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade " id="modal2" tabindex="-1" role="dialog" aria-labelledby="level-designer" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title colored" id="level-designer"> La communauté. </h2>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <h3> Rejoignez dés maintenant notre comunauté. </h3>
                                  <br>
                                  <h3> Qui peux s'inscrire ? </h3>
                                  <ul>
                                  <li><p> Les personnes âgées. </p></li>
                                  <li><p> Comme les plus jeunes. </p></li>
                                  <li><p> Les passionnés. </p></li>
                                  <li><p> Comme les curieux. </p></li>
                                  <li><p> Les chats. </p></li>
                                  <li><p> Comme le gars cagoulé derrière toi. </p></li>
                                  </ul>
                                  <br>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="button secondary" data-dismiss="modal"> Sortir </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="job-card">
                      <h3 class="colored"> Faite don de votre temps et de votre avis. </h3>
                      <p> Votre avis compte pour l'amélioration des jeux proposé. </p>
                      <button class="button" data-toggle="modal" data-target="#modal3">Plus de détails</button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade " id="modal3" tabindex="-1" role="dialog" aria-labelledby="ai-engineer" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title colored" id="ai-engineer"></h2>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                             <div class="modal-body">
                                  <h3>Pourquoi donner un avis ou faire un don ? </h3>
                                  <ul>
                                  <li><p>Proposer des idées.</p></li>
                                  <li><p>Aider les développeurs à corriger les bugs.</p></li>
                                  <li><p>Aiguiller les autres joueurs</p></li>
                                  <li><p> Soutenir financièrement le travail des développeurs.</p></li>
                                  </ul>
                                  <br>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="button secondary" data-dismiss="modal">Sortir</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
              </div>
              </div>
