  <div class="container">
      <div id="careers" class='large-margin'>
          <a href="careers"></a><!-- Nav Anchor -->
          <div class="row heading tiny-margin">
              <div class="col-md-auto">
                  <h1 class="animation-element slide-down">Faites grandir <span class="colored">les petites idées</span></h1>
              </div>
              <div class="col">
                  <hr class="animation-element extend">
              </div>
          </div>
          <div class="row medium-margin">
              <div class="col-md-11">
                  <h2 class="short-hr-left"> Découvrez Ludotopia ! </h2>
                  <p> Bienvenue sur Ludoptopia, tu es ici chez toi, Dorénavant les seules choses qui te serons interdites sont, faire l'amour et gagner de l'argent.</p><br>
              </div>
              <div class="col-md-4">
                  <div class="job-card">
                      <h3 class="colored">Jouer aux jeux gratuitement et avec vos amis</h3>
                      <p>Tester des jeux de sociétés indépendant avec vos amis !</p>
                      <button class="button" data-toggle="modal" data-target="#modal1">Voir plus de détail !</button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="lead-programmer" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title colored" id="lead-programmer">LEAD PROGRAMMER</h2>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <h3>Découvrez une multitude de jeux ! :</h3>
                                  <p> Tester des jeux de sociétés indépendant avec vos amis !</p>
                                  <br>
                                  <h3> De quoi à tu besoin pour t'inscrire ? :</h3>
                                  <ul>
                                  <li><p> De la joie de vivre. </p></li>
                                  <li><p> Un peu de Teamplay. </p></li>
                                  <li><p> Beaucoup de bienveillance. </p></li>
                                  <li><p> Beaucoup de témérité. </p></li>
                                  <li><p> Une adresse mail valide.</p></li>
                                  <li><p> Ton nom et ton prénom. </p></li>
                                  <li><p> Un ordinateur.</p></li>
                                  </ul>
                                  <br>
                                  <!-- <h3>Comment s'inscrire :</h3>
                                  <p>Si tu penses avoir ce qu'il faut pour entrer dans notre équipe contact : <a href="mailto:thprennes7@gmail.com" >Aurélien !</a></p> -->
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="button secondary" data-dismiss="modal"> Sortir </button>
                                  <!-- <a href="mailto:office@example.com" class="button">Apply</a> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="job-card">
                      <h3 class="colored"> Accès à la communauté Ludotopia.</h3>
                      <p> Retrouve des passionnés et des joueurs occasionnel dans notre communauté.</p>
                      <button class="button" data-toggle="modal" data-target="#modal2"> Voir plus de détails</button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade " id="modal2" tabindex="-1" role="dialog" aria-labelledby="level-designer" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title colored" id="level-designer"> La communauté. </h2>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <h3> Rejoignez dés maintenant notre comunauté. </h3>
                                  <br>
                                  <h3> Qui peux s'inscrire ? </h3>
                                  <ul>
                                  <li><p> Les personnes agées. </p></li>
                                  <li><p> Comme les plus jeunes. </p></li>
                                  <li><p> Les passionnés. </p></li>
                                  <li><p> Comme les curieux. </p></li>
                                  <li><p> Les chats. </p></li>
                                  <li><p> Comme le gars cagoulé derrière toi. </p></li>
                                  <!-- <li><p> </p></li> -->
                                  </ul>
                                  <br>
                                  <!-- <h3>HOW TO APPLY:</h3>
                                  <p>If you think you have what it takes to join our team you an apply here <a href="mailto:office@example.com" >office@example.com</a></p> -->
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="button secondary" data-dismiss="modal"> Sortir </button>
                                  <!-- <a href="mailto:office@example.com" class="button">Apply</a> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="job-card">
                      <h3 class="colored"> Faite don de votre temps et de votre avis. </h3>
                      <p> Votre avis compte pour l'amélioration des jeux proposé. </p>
                      <button class="button" data-toggle="modal" data-target="#modal3">Plus de détails</button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade " id="modal3" tabindex="-1" role="dialog" aria-labelledby="ai-engineer" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h2 class="modal-title colored" id="ai-engineer"></h2>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                             <div class="modal-body">
                                  <!-- <h3></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt, nisl non mattis sollicitudin, risus quam tempor sem, vel interdum est libero non odio.</p>
                                  <br> -->
                                  <h3>Pourquoi donnez un avis ou faire un don ? </h3>
                                  <ul>
                                  <li><p>Proposer des idées.</p></li>
                                  <li><p>Aider les développeurs à corriger les bugs.</p></li>
                                  <li><p>Aiguiller les autres joueurs</p></li>
                                  <li><p> Soutenir financièrement le travail des développeurs.</p></li>
                                  <!-- <li><p>Strong communication and organizational skills</p></li>
                                  <li><p>Must work well under pressure and handle multiple tasks</p></li>
                                  <li><p>Passion for making GREAT games</p></li> -->
                                  </ul>
                                  <br>
                                  <!-- <h3>HOW TO APPLY:</h3>
                                  <p>If you think you have what it takes to join our team you an apply here <a href="mailto:office@example.com" >office@example.com</a></p> -->
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                                  <!-- <a href="mailto:office@example.com" class="button">Apply</a> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
