<div id="tictactoe-grid">
	<div id="case-a1" class="case"></div>
	<div id="case-a2" class="case"></div>
	<div id="case-a3" class="case"></div>
	<div id="case-b1" class="case"></div>
	<div id="case-b2" class="case"></div>
	<div id="case-b3" class="case"></div>
	<div id="case-c1" class="case"></div>
	<div id="case-c2" class="case"></div>
	<div id="case-c3" class="case"></div>
</div>