<div id="game-board">

<% 
case @party.status
when 0 %>
<%=	render 'init' %>
<% when 1 %>
<%=	render 'party' %>
<% when 2 %>
<%=	render 'ended' %>
<% else

end
%>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "tictactoe/show" %>
<% end %>