<div id="game-board">

<% 
case @party.status
when 0
	render 'init', party: @party, contacts: @friends, participants: @paticipants
when 1
	render 'party', party: @party, participants: @participants
when 2
	render 'ended'
else

end
%>
</div>