<div id="game-board">

<% 
case @party.status
when 0 %>
<%=	render 'init' %>
<% when 1 %>
<%=	render 'party' %>
<% when 2 %>
<%=	render 'ended' %>
<% else

end
%>
</div>

<script src="./show.js.erb"></script>