<h1>Bonjour </h1><br>
<p>Toute l'équipe de Ludotopia est heureuse de vous compter parmi nos membres et vous remercie d'avoir rejoint notre plateforme de jeux de société en ligne</p>
<p>N'hésite pas à rejoindre et commencer une partie <%= @url %></p>
<p>Vous pouvez nous suivre sur <%= link_to 'Facebook', 'https://www.facebook.com/Ludotopia-258709275039675/' %>, <%= link_to 'Instagram', 'https://www.instagram.com/ludotopiaa/?utm_source=ig_profile_share&igshid=9ii33os76y29&fbclid=IwAR2p8Pu0CZE0I9B1_zSNIllcuTeAkFiYK6RgIBBS-0MWRMkywiMRWBvdFsw' %></p>
