<nav class="nav flex-column bg-success align-items-center h-100" style="min-width: 150px;">
	<p class="nav-link text-light border-bottom" id="home">Espace Admin</p>
	<p class="nav-link text-light" id="users">Utilisateurs</p>
	<p class="nav-link text-light" id="articles">Articles</p>
	<p class="nav-link text-light" id="banners">Banières</p>
	<p class="nav-link text-light" id="games">Jeux</p>
	<p class="nav-link text-light" id="scores">Scores</p>
	<p class="nav-link text-light" id="donations">Donnations</p>
	<p class="nav-link text-light" id="supports">Support</p>
	<%= link_to "Retour au site", root_path, class:"nav-link text-warning" %>
</nav>