<h2>Créer une bannière :</h2>
<%= render 'new_banner_form' %>

<h2>Modifier les bannières :</h2>
<div class="banners">
  <% @banners.each do |banner| %>
  <% @banner = banner %>
  <% puts "*" * 60 %>
  <% puts banner.id %>
  <%= render partial: 'update_banner_form', locals: { banner: @banner } %>
  <% end %>
</div>
