<!-- /// Main Container /// -->
    <div class="container">
        <!-- /// ABOUT SECTION /// -->
        <div id="about" class="mb-5">
            <a href="about"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">A PROP<span class="colored">OS</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="small-margin">Nous sommes une équipe de développeurs passionés, qui aime le monde des jeux de sociétés. Notre seul problème était d'y jouer n'importe quand. Alors on a eu l'idée de créer Ludotopia, une plateforme qui permet de jouer à différents jeux de société en ligne !</p>
                </div>
                <div class="col-md-6">
                  <% if about != nil && about.ludo_image.attached? %>
                    <%= image_tag about.ludo_image, alt:"digital collage", class:"img-fluid b-lazy", id:"support-image" %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
