 <div class="games-portfolio ">
                <!-- Game Card Video -->
                <div class="row game-card pc new">
                    <div class="col-lg-12 col-xl-5 game-card-left">
                        <a href="#" class="js-video-button" data-video-id='c4D786zRO6g' data-channel="youtube"> <!-- Video link goes here -->
                            <div class="overlay">
                                <i class="fa fa-play fa-3x"></i>
                            </div>
                            <%= image_tag "game.jpg", alt:"video thumbnail", class:"img-fluid b-lazy" %>
                            <!-- Video Thumbnail Img -->
                        </a>
                    </div>
                    <div class="col-lg-12 col-xl-7 game-card-right">
                        <h2 class="short-hr-left"><%= info.title %></h2>
                        <p class="tags"><span class="subtle">Action RPG | PC</span> </p>
                        <p class="game-description"><%= info.description %><span class="expand colored strong" data-toggle="modal" data-target="#game1">Read More</span></p>
                        <div class="steam-btn">
                            <a href="#">
                                <i class="fa fa-steam fa-3x"></i>
                                <p>GET IT ON <br><span class="spaced">STEAM</span></p>
                            </a>
                        </div>
                        <div class="reviews">
                            <a href="#"><div class="score-card">
                                <p class="score">8.0</p>
                                <p>Gamespot</p>
                            </div></a>
                            <a href="#"><div class="score-card">
                                <p class="score">7.9</p>
                                <p>IGN</p>
                            </div></a>
                            <a href="#"><div class="score-card">
                                <p class="score">86</p>
                                <p>Metacritic</p>
                            </div></a>
                        </div>
                    </div>
                    <!-- Modal -->
                    <%= render partial: 'shared/card_modal', locals: {current_info: info} %>
                </div><!-- Game Card End -->
