<!-- /// CONTACT SECTION /// -->
<div class="container">
        <div id="contact" class="large-margin">
            <a href="contact"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">CONT<span class="colored">ACT</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="">
                <div class="row small-margin">
                    <div class="col-md-11">
                        <p>Pour tous renseignement ou question, concernant le site internet, les actualités que nous partageons ou les jeux que nous vous proposons. N’hésitez pas à nous contactez à l’aide du formulaire ci-dessous, nous vous répondrons dans les plus brefs délais.  </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="short-hr-left">NOUS ENVOYÉS UN MESSAGE</h2>
                        <form id="contactForm" data-toggle="validator">
                            <div class="form-group">
                                <!-- Name Field -->
                                <input type="text" id="name" placeholder="Name*" required size="35" data-error="Name is required">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <!-- Email Field -->
                                <input type="email" id="email" placeholder="Email*" required size="35" data-error="Email is required">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <!-- Message Field -->
                                <textarea id="message" name="message" placeholder="Message*" required data-error="Message cannot be empty"></textarea>
                                <p class="subtle">*Champs obligatoire</p>
                                <div class="help-block with-errors"></div>
                                <!-- Submit Button -->
                                <button type="submit" class="button">ENVOYÉ UN MESSAGE</button>
                                <!-- Success Message -->
                                <div id="msgSubmit" class="text-center hidden"></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h2 class="short-hr-left">AUTRES DÉTAILS</h2>
                        <div id="contact-info">
                            <ul>
                                <li><i class="fa fa-phone"></i><p>Phone: <span class="colored">0652760097</a></span></p></li>
                                <li><i class="fa fa-envelope"></i><p>Email: <span class="colored">thprennes7@gmail.com</a></span></p></li>
                                <li><i class="fa fa-globe"></i><p>Website: <span class="colored">https://prod-ludotopia.herokuapp.com</a></span></p></li>
                                <li><i class="fa fa-map-marker"></i><p>Address: <span class="colored">14 Rue Saint Michel, 35000 Rennes</span></p></li>
                            </ul>
                        </div>
                        <!-- Google Map -->
                        <div id="map-canvas"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Main Container End -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB64kJJiSynOc9ZqkNMOyl94cvsw5Z2uno"></script>
    <div style="visibility:hidden"><%= image_tag "map_marker.png", alt:"ybo_img" %></div>
    <%= content_for :javascript_includes do %>
        <%= javascript_include_tag 'googleMap' %>
    <% end -%>
</div>