<!-- /// Main Container /// -->
    <div class="container">
        <!-- /// ABOUT SECTION /// -->
        <div id="about" class="large-margin">
            <a href="about"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">ABOUT <span class="colored">US</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="small-margin">We are a dedicated team of developers, designers, artists, programmers, and most importantly gaming enthusiasts. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae ante pharetra, molestie nunc non, interdum ipsum.</p>
                    <%= image_tag "awards.png", alt:"sorry, pictures is not charge", class:" img-fluid", id:"awards" %>
                </div>
                <div class="col-md-6">
                    <%= image_tag "about.jpg", alt:"digital collage", class:"img-fluid b-lazy", id:"support-image" %>
                </div>
            </div>
        </div>
    </div>