        <!-- /// GAMES SECTION /// -->
    <div class="container">
        <div id="games" class="large-margin">
            <a href="games"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">OUR <span class="colored">GAMES</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-11 small-margin">
                   <p>Here at Strider games we pride ourselves in delivering rich and polished experiences that our fanbase can enjoy and immerse themselve into. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis rhoncus nibh.</p>
                </div>
                <div class="col-md-12">
                    <ul class="game-tags">
                        <li>Sort By Tag :</li>
                        <li><a href="#" data-filter=".new">NEW</a></li>
                        <li><a href="#" data-filter="*">ALL</a></li>
                        <li><a href="#" data-filter=".pc">PC</a></li>
                        <li><a href="#" data-filter=".mobile">MOBILE</a></li>
                    </ul>
                </div>
            </div>

        
         <%= render 'SWORDS&SCLAES' %>

        <%= render 'BEDLAMBORNE' %>

        <%= render 'AURORAAWAKENING' %>

         <%= render 'ECHO' %>
    </div>