           
        <!-- /// TEAM SECTION /// -->
        <div id="team" class="large-margin">
            <a href="team"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">THE <span class="colored">TEAM</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row medium-margin">
                <div class="col-md-11 tiny-margin">
                    <p>Our passion unites us. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt mi ut mauris varius, vitae lobortis erat ullamcorper. Pellentesque vel dolor non nisi fringilla scelerisque in non ante.</p>
                </div>
                <div id="full-row" class="row text-center">
                    <div class="col-md-3 team-card">
                        <figure>
                            <img src="images/placeholder.jpg" data-src="images/team.jpg" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                <hr class="hr-short">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <p class="team-name">Vladimir M.</p>
                        <p class="subtle">Lead Designer</p>
                    </div>
                    <div class="col-md-3 team-card">
                        <figure>
                            <img src="images/placeholder.jpg" data-src="images/team.jpg" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                <hr class="hr-short">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <p class="team-name">Asimov R.</p>
                        <p class="subtle">Founder</p>
                    </div>
                    <div class="col-md-3 team-card">
                        <figure>
                            <img src="images/placeholder.jpg" data-src="images/team.jpg" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                <hr class="hr-short">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <p class="team-name">Natalia I.</p>
                        <p class="subtle">Lead Artist</p>
                    </div>
                    <div class="col-md-3 team-card">
                        <figure>
                            <img src="images/placeholder.jpg" data-src="images/team.jpg" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                <hr class="hr-short">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <p class="team-name">Dimitri A.</p>
                        <p class="subtle">Programmer</p>
                    </div>
                </div>
            </div>
            <div class="row tiny-margin">
                <div class="col-md-11">
                    <h2 class="short-hr-left">OUR STUDIO</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt, nisl non mattis sollicitudin, risus quam tempor sem, vel interdum est libero non odio.</p>
                </div>
            </div>
            <div class="grid-gallery">
                <div class="row">
                    <div class="col-md-4 gallery-item">
                        <a href="images/studio.jpg" data-lightbox="studio_gallery">
                            <div class="overlay gallery">
                                <i class="fa fa-picture-o fa-3x"></i>
                            </div>
                            <img src="images/placeholder.jpg" data-src="images/studio.jpg" class="img-fluid b-lazy" alt="">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                        <a href="images/studio.jpg" data-lightbox="studio_gallery">
                            <div class="overlay gallery">
                                <i class="fa fa-picture-o fa-3x"></i>
                            </div>
                            <img src="images/placeholder.jpg" data-src="images/studio.jpg" class="img-fluid b-lazy" alt="">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                        <a href="images/studio.jpg" data-lightbox="studio_gallery">
                            <div class="overlay gallery">
                                <i class="fa fa-picture-o fa-3x"></i>
                            </div>
                            <img src="images/placeholder.jpg" data-src="images/studio.jpg" class="img-fluid b-lazy" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 gallery-item">
                        <a href="images/studio.jpg" data-lightbox="studio_gallery">
                            <div class="overlay gallery">
                                <i class="fa fa-picture-o fa-3x"></i>
                            </div>
                            <img src="images/placeholder.jpg" data-src="images/studio.jpg" class="img-fluid b-lazy" alt="">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                        <a href="images/studio.jpg" data-lightbox="studio_gallery">
                            <div class="overlay gallery">
                                <i class="fa fa-picture-o fa-3x"></i>
                            </div>
                            <img src="images/placeholder.jpg" data-src="images/studio.jpg" class="img-fluid b-lazy" alt="">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item">
                        <a href="images/studio.jpg" data-lightbox="studio_gallery">
                            <div class="overlay gallery">
                                <i class="fa fa-picture-o fa-3x"></i>
                            </div>
                            <img src="images/placeholder.jpg" data-src="images/studio.jpg" class="img-fluid b-lazy" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>