<div class="container">
    <div id="contact" class="mb-5">
        <div class="row heading tiny-margin">
            <div class="col-md-auto">
                <h1 class="animation-element slide-down">MER<span class="colored">CI !</span></h1>
            </div>
            <div class="col">
                <hr class="animation-element extend">
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="row small-margin">
                <div class="col-md-11">
                    <p>Vos soutiens nous permettent de continuer à développer et améliorer le site. Toute l’équipe de Ludotopia, ainsi que les différents développeurs de jeux vous remercie grandement pour votre donation. Votre don de <strong><%= number_to_currency(@amount * 0.01, :locale => :fr) %></strong>, a bien été pris en compte. Merci à vous. </p>
                </div>
            </div>

        </div>
        <%=  link_to "Accueil", root_path, class:"button primary text-center", style:"width: 100px;" %>
    </div>
</div>
