<div class="container">
    <div id="games" class="large-margin">
        <a href="games"></a><!-- Nav Anchor -->
        <div class="row heading tiny-margin">
            <div class="col-md-auto">
                <h1 class="animation-element slide-down">Nos <span class="colored">Jeux</span></h1>
            </div>
            <div class="col">
                <hr class="animation-element extend">
            </div>
        </div>
        <div class="row ">
            <div class="col-md-11 small-margin">
               <p> Ici la liste des jeux déployé sur notre site :</p>
            </div>
            <div class="col-md-12">
                <ul class="game-tags">
                    <li>Sort By Tag :</li>
                    <li><a href="#" data-filter=".new">NEW</a></li>
                    <li><a href="#" data-filter="*">ALL</a></li>
                    <li><a href="#" data-filter=".pc"> 2 joueurs</a></li>
                    <li><a href="#" data-filter=".mobile"> Plus de 2 joueurs/.</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
