/*

*= require_tree .
*= require_self

*= require bootstrap.min.css
*= require font-awesome
*= require animations.css
*= require lightbox.min.css
*= require modal-video.min.css
*= require style.css

*/

#main-header {
  position: absolute;
  width: 100%;
}

.notice {
  position: absolute !important;
}

.alert {
  position: absolute !important;
}

.carousel {
  height: 100vh;
}

.carousel-inner {
  height: 100vh;
}
