/*

*= require_tree .
*= require_self

*= require bootstrap.min.css
*= require font-awesome
*= require animations.css
*= require lightbox.min.css
*= require modal-video.min.css
*= require style.css

*/

#main-header {
  width: 100%;
}

.notice {
  position: absolute !important;
}

.alert {
  position: absolute !important;
}

.carousel {
  height: 100vh;
}

.carousel-inner {
  height: 100vh;
}

.modal-pic {
  object-fit: cover;
  width: 100%;
  max-width: 768px;
  margin: 20px 0 20px 0;
  border: none;
  border-radius: 3px;
}

.card-pic {
  object-fit: cover;
}

.game-modal img{
  width: 100%;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: absolute;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}
