:root {
  --primary: #E48632 !important;
  --secondary: #222 !important;
  --white: #1b1b28 !important;
  --black: #e3e9f0 !important;
  --standard: #F5F5F5 !important;
  --footer: #adadad !important;
  --silence: #999 !important;
  --card1: rgba(0, 0, 0, 0.2);
  --card2: rgba(0, 0, 0, 0.2));
  --dark-grey: rgba(0, 0, 0, 0.6);
  --modal: rgba(0, 0, 0, 0.9);
}
