/* Place all the styles related to the Tictactoes controller here. */
/* They will automatically be included in application.css. */
/* You can use Sass (SCSS) here: http://sass-lang.com/ */

#tictactoe-grid {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-auto-rows: minmax(100px, auto);
	border-collapse: collapse;
	box-sizing: border-box;
}
.case {
	display: flex;
	justify-content: center;
	align-items: center; 
	font-size: 20px;
}
#case-1 {
	border-radius: 2px 0 0 0;
	grid-column: 1;
	grid-row: 1;
}
#case-2 {
	border-top: 1px solid white;
	grid-column: 2;
	grid-row: 1;	
}
#case-3 {
	border-radius: 0 2px 0 0;
	grid-column: 3;
	grid-row: 1;
}
#case-4 {
	border-left: 1px solid white;
	grid-column: 1;
	grid-row: 2;
}
#case-5 {
	grid-column: 2;
	grid-row: 2;
}
#case-6 {
	border-right: 1px solid white;
	grid-column: 3;
	grid-row: 2;
}
#case-7 {
	border-radius: 0 0 0 2px;
	grid-column: 1;
	grid-row: 3;
}
#case-8 {
	border-bottom: 1px solid white;
	grid-column: 2;
	grid-row: 3;
}
#case-9 {
	border-radius: 0 0 2px 0;
	grid-column: 3;
	grid-row: 3;
}
#case-1, #case-3, #case-5, #case-7, #case-9 {
	border: 1px solid white;
} 