<p>Bonjour <%= @resource.username %> !</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous informez que votre nouvelle adresse email sera <%= @resource.unconfirmed_email %> après confirmation.</p>
<% else %>
  <p>Nous vous contactons pour vous informez que votre nouvelle adresse email est <%= @resource.email %>.</p>
<% end %>
