<p>Bonjour <%= @resource.username %>!</p>

<p>Vous cherchez visiblement à changer votre mot de passe. Pour cela, cliquez sur le lien ci-dessous :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez fait aucune demande à ce sujet, merci d'ignorer cet email</p>
<p>Votre mot de passe ne changera pas jusqu'à ce que vous en créez un nouveau via le lien que nous vous avons donné.</p>
