<p>Hello <%= @resource.email %>!</p>

<p>Tu cherches visiblement à changer ton mot de passe. Pour cela, clique sur le lien ci-dessous :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'as fait aucune demande à ce sujet, merci d'ignorer cet email</p>
<p>Ton mot de passe ne changera pas jusqu'à ce que tu en crées un nouveau via le lien que nous t'avons donné.</p>
