<h1>Donations</h1>

<!-- <table class="table table-dark"> -->
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Utilisateur</th>
      <th scope="col">Jeu</th>
      <th scope="col">Montant du don</th>
    </tr>
  </thead>

  <tbody>
<% @games.each do |game| %>

<% find_donations(game).each do |donation| %>
  <tr>
    <th scope="row"></th>
    <td><%= donation.user.username %></td>
    <td><%= game.title %></td>
    <td><%= donation.amount %></td>
  </tr>

<% end %>
<% end %>
</tbody>
</table>
