
    <!-- /// FOOTER /// -->
    <footer id="main-footer">
        <div id="footer"> 
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p id="copyright">&copy; Atypical Themes <span id="year"> </span></p><!-- Copyright Text -->
                        <ul class="social-links"> <!-- Social Media Icons -->
                            <li><a href="#"><i class="fa fa-facebook fa-lg icon-social"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter  fa-lg icon-social"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus fa-lg icon-social"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin fa-lg icon-social"></i></a>
                            <li><a href="#"><i class="fa fa-pinterest fa-lg icon-social"></i></a>
                            <li><a href="#"><i class="fa fa-instagram fa-lg icon-social"></i></a>
                        </ul>
                    </div>
                </div>
            </div><!-- Container End -->
        </div>
    </footer><!-- Footer End -->