
    <!-- /// FOOTER /// -->
    <footer id="main-footer">
        <div id="footer">

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-around">
                        <p id="copyright">&copy; Design by THP Rennes 7 <span id="year"> </span></p><!-- Copyright Text -->
                        <ul class="social-links"> <!-- Social Media Icons -->
                            <li><%= link_to "https://www.instagram.com/Ludotopiaa/", target: "_blank" do%>
                              <%= fa_icon "facebook" %>
                              <% end %>
                            </li>
                            <li><%= link_to "https://www.instagram.com/thprennes7/?hl=fr", target: "_blank" do%>
                              <%= fa_icon "instagram" %>
                              <% end %>
                        </ul>
                    </div>
                </div>
            <!-- Container End -->
        </div>
    </footer><!-- Footer End -->
