
    <!-- /// FOOTER /// -->
    <footer id="main-footer">
        <div id="footer">

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-around ">
                        <p id="copyright">&copy; Design by THP Rennes 7 <span id="year"> </span></p><!-- Copyright Text -->
                        <ul class="social-links"> <!-- Social Media Icons -->
                            <li><%= link_to "https://www.facebook.com/Ludotopia-258709275039675/", target: "_blank" do%>
                              <%= fa_icon "facebook" %>
                              <% end %>
                            </li>
                            <li><%= link_to "https://www.instagram.com/ludotopiaa/?utm_source=ig_profile_share&igshid=9ii33os76y29&fbclid=IwAR2p8Pu0CZE0I9B1_zSNIllcuTeAkFiYK6RgIBBS-0MWRMkywiMRWBvdFsw", target: "_blank" do%>
                              <%= fa_icon "instagram" %>
                              <% end %>
                        </ul>
                    </div>
                </div>
            <!-- Container End -->
        </div>
    </footer><!-- Footer End -->
